@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: Roboto;
    color: #212121;
    margin: 0;
}

.slider {
    margin: .5rem 0;
}

.slider input[type="range"] {
    -webkit-appearance:none !important;
    width: 8rem;
    height: .1rem;
    background: black;
}

#title {
    font-size: 4rem;
    background-color: #2196F3;
    color: #FFFFFF;
    text-align: center;
    padding: 1rem;
}

#gridContainer {
    display: flex;
    flex-flow: column;
    justify-self: center;
    border: .1rem solid black;
}

.gridRow {
    display: flex;
}

.gridItem {
    transition: all 0.5s ease;
}

.main {
    display: flex;
    gap: 1rem;
    margin: 2rem;
    justify-content: center;
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    gap: 1rem;
    font-size: 1.5rem;
}

img {
    max-height: 1.5rem;
}

button {
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: .2rem;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: #212121;
}

a:hover {
    color: #757575;
}

.footer {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin: 2rem;
}